@font-face {
  font-family: 'brandon bold';
  /*src: url('fonts/brandon_bld-webfont.woff2');*/
  /*src: url('fonts/brandon_bld-webfont.woff2') format('woff2');*/
  src: url('fonts/ProximaNova-Sbold-webfont.8a9dfe759711f1a008feda2150247947.woff2') format('woff2');
}
@font-face {
  font-family: 'brandon';
  /*src: url('fonts/brandon_re-webfont.woff2');*/
  /*src: url('fonts/brandon_re-webfont.woff2') format('woff2');*/
  src: url('fonts/ProximaNova-Reg-webfont.5d5b6593c3948d364e163d9d1ab28b8b.woff2') format('woff2');
}
body, html {
  font-family: 'brandon', serif;
  font-size: 100%;
    margin:0;
    padding:0;
    color:#000;
}
nav {
  height: 65px;
  margin-bottom: 32px;
}
nav .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.row {
  width: 100%;
}


.disabled img {
    opacity: .5;
}

/*#bf-quiz {
    width:1230px;
    margin:0 auto;
}

.quiz-wrapper {
    margin: 0 auto;
    width:65%;
}*/

.quiz-result {
    background:#f1f1f1;
    width: 65%;
    overflow: auto;
    margin: 0 auto;
}
.quiz-result img {
    width: 65%;
    display: block;
    margin: 0 auto;
}


.quiz-question {
    margin-bottom: 0px;
    margin-top:64px;
}
.quiz-question-text-wrapper {
    font-size: 2em;
    text-align: left;
    margin-bottom: 16px;
}
.quiz-question-image-wrapper {
  overflow: hidden;
  width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.quiz-question-image-wrapper img {
  width: 100%;
}
.quiz-wrapper h1 {
  margin-bottom: 24px;
}
.quiz-question form {
    width: 100%;
    /*display: table;*/
    overflow: auto;
    display: flex;
    justify-content: center;
}

.quiz-answer {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    width: 29%;
    padding: 9px;
    overflow: hidden;
    float: left;
    margin: 4px;
    display: table-cell;
    vertical-align: top;
    height: 300px;
    border-radius: 5px;
}

.quiz-answer:hover {
    background-color: #fff195;
}

.quiz-answer.selected {
    background-color: #bed5ed
}

.quiz-answer.disabled, .quiz-answer.disabled:hover {
    color: grey;
    background-color: rgba(185,185,185,0.62);
}

.quiz-answer img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 5px;
}

.quiz-answer .quiz-answer-text-wrapper {
    text-align: center;
    overflow: hidden;
    position: relative;

}

.quiz-answer .quiz-answer-text-wrapper input[type="radio"] {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 1px;

}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    margin-bottom: 10px;
}
label:before {
    content:"";
    /*display: inline-block;*/
    display: none;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 3px;
}
input[type=checkbox] {
    display: none;
}
.quiz-answer.selected label:before {
    content:"\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
h1 { font-size: 4rem; line-height: 1.2; }
h2 { font-family:'brandon bold';font-size: 2rem; line-height: 1.2; }
h3 { font-size: 1.125rem; line-height: 1.2; }
p { font-size: 1.5rem; line-height: 1; }
label { font-size: 1rem; }
#statistics {
  height: 60px;
}
#statistics .profile,
#statistics .item-icon {
  height: 100%;
  display: flex;
  align-items: center;
}
.profile-image,
.author {
  display:inline-block;
}

.profile-image-wrapper {
  height: 60px;
  width: 60px;
  display: inline-block;
  background-color: purple;
  border-radius: 50%;
}
.author span {
  display:block;
}
h1 {
  font-family: 'brandon bold';
  letter-spacing: 1px;
  font-size: 3rem;
}
.quiz-wrapper span {
  font-size: 1.25rem;
}
.row.links {
  text-align: right;
}
.row.links a {
  text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'brandon bold';
  letter-spacing: 1px;
  color: black;
  margin-left: 24px;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.row.links a:hover {
  color: #E12C67!important;
}
.full {
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .quiz-answer .quiz-answer-text-wrapper { height: 100%; }
  .quiz-answer .quiz-answer-text-wrapper input[type="radio"] {
    left: calc(50% - 6px);
  }
  .quiz-answer .quiz-answer-text-wrapper label {
    padding: 0;
    margin: 0;
  }
  nav { height: 100%; }
  nav .container { height: auto; padding-top: 20px;}
  .row.links { text-align: center; }
  .row.links a:first-child { margin-left: 0; }
  .quiz-wrapper h1 { font-size: 2rem; }
  .quiz-question-image-wrapper { max-height: 250px; }
  .quiz-question-text-wrapper h2 { font-size: 1.5rem; letter-spacing: 0.25px; }
}
